body {
    background-color: black;
    color: white;
}

section{
    background: #7b00ff;
    padding-bottom: 80px;
    padding-top: 80px;
    display: flex;
    justify-content: center;
}
.chamada-texto{
    margin-right: 5%;
}
